.empty-container {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.empty-img {
    width: 40%;
    padding: 2rem;
    border-radius: 130px;
    border-radius: 130px;
    background: #d6c7ca;
    box-shadow:  9px 9px 18px #a99da0, 
                 -9px -9px 18px #fff1f4;
}

.empty-msg {
    font-family: 'Pixeboy';
    color: white;font-size: 2rem;
    text-align: center;
    text-shadow: 4px 4px 0px black;
}