.form {
    display: flex;
    flex-direction: row;
    max-width: 30rem;
    width: 25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    background: #c42142;
    box-shadow: 20px 20px 60px #a71c38, -20px -20px 60px #e1264c;
}

.pokeball {
    width: 2rem;
    margin: 0 1rem 0 0.5rem;
}

.input-container {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
}

.input-txt {
    width: 100%;
    border-radius: 1rem;
    background: #c42142;
    box-shadow: inset 20px 20px 60px #a71c38, inset -20px -20px 60px #e1264c;
    color: lightgray;
    border: none;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
}

.btn-find {
    font-size: 1.2rem;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    padding: 0.8rem 2rem;
    box-shadow: 2px 2px 0px black;
    border-radius: 50px;
    background: linear-gradient(145deg, #b01e3b, #d22347);
    box-shadow: 20px 20px 60px #a71c38, -20px -20px 60px #e1264c;
    border: none;
    color: lightgrey;
}

@media screen and (max-width: 600px) {
    .form {
        flex-direction: column;
        max-width: 30rem;
        width: 15rem;
    }

    .input-container {
        width: 100%;
        margin-bottom: 0.1rem;
    }

    .input-txt {
        height: 2rem;
        font-size: 1.5rem;
    }

    .btn-container {
        margin-top: 0.2rem;
        width: 100%;
    }

    .btn-find {
        width: 100%;
        padding: 0;
    }

    .pokeball {
        margin: 0 1rem 1rem 1rem;
    }
}

@media screen and (min-width: 600px) {
    .form {
        flex-direction: row;
        max-width: 30rem;
        width: 25rem;
    }

    .input-container {
        width: auto;
        flex-basis: 60%;
        height: 3rem;
    }

    .input-txt {
        font-size: 2rem;
    }

    .btn-container {
        width: auto;
        flex-basis: 40%;
    }

    .btn-find {
        width: auto;
        padding: 0.8rem 2rem;
    }

    .pokeball {
        margin: 0 1rem 0 0.5rem;
    }
}